<header>
  {{!-- upperCaseとpageTitleの間にスペースを開けるとupperCase関数に引数を渡したことになる　 --}}
  <h1>{{ upperCase pageTitle }}</h1>
  <p><a href="/">Home</a>ホームページ</p>
  <p><a href="/about">About</a>アバウトページ</p>
</header>